
Password Manager/.idea/compiler.xml
Password Manager/.idea/misc.xml
Password Manager/.idea/shelf/Uncommitted_changes_before_rebase_\[Changes\]/shelved.patch
Password Manager/.idea/workspace.xml
Password Manager/.idea/shelf/Uncommitted_changes_before_rebase__Changes_.xml
