p-panel {
  display: block;
  margin: 10vh 25vw;
  width: 50vw;
}

span.p-float-label>input{
  margin-left: 2vh;
  margin-bottom: 2vh;
  margin-top: 2vh;
}

span.p-float-label>label {
  margin-left: 2vh;
  margin-bottom: 2vh;
}

.p-slider.p-slider-horizontal {
  margin-bottom: 3vh;
  margin-top: 3vh;
}
