<div style="position: relative; width: 100vw; height: 100vh">
  <img alt="" ngSrc="/assets/new-password-page.jpg" fill priority>

  <p-panel>
    <h1 style="text-align: center">Create a new password</h1>

    <p-divider type="solid" align="center">
      <i class="pi pi-pencil"></i>
    </p-divider>

    <span>
      <a class="p-float-label">
        <input
          pInputText
          id="usernameInput"
          type="text"
          [(ngModel)]="this.username"
          (ngModelChange)="this.checkUsername()"
        />
        <label htmlFor="username">Username</label>
      </a>
    </span>

    <span>
      <a class="p-float-label">
        <input
          pInputText
          id="websiteInput"
          type="text"
          [(ngModel)]="this.website"
          (ngModelChange)="this.checkWebsite()"
        />
        <label htmlFor="website">Website</label>
      </a>
      <p style="font-size: 0.6vw">Make sure your website has the following pattern "http[s]://[www].&lt;website name>.&lt;domain>". </p>
    </span>

    <span>
      <a class="p-float-label">
        <input
          pInputText
          id="versionInput"
          type="number"
          [(ngModel)]="this.version"
          (ngModelChange)="this.checkVersion()"
        />
        <label htmlFor="version">Version</label>
      </a>
    </span>

    <p-divider type="solid" align="center">
      <i class="pi pi-arrows-h"></i>
    </p-divider>


    <div id="lengthFlex">
      <h4 style="align-self: center">Length</h4>

      <mat-slider min="16" max="64" discrete>
        <input matSliderThumb [(ngModel)]="this.length">
      </mat-slider>
    </div>

    <p-divider type="solid" align="center">
      <i class="pi pi-wrench"></i>
    </p-divider>

    <div style="display: flex;justify-content: space-between;">
      <span>
        <p-button styleClass="p-button-secondary" label="Cancel" (onClick)="this.goHome()"></p-button>
      </span>

      <span>
        <p-button styleClass="p-button-danger" label="Submit" (onClick)="this.submitForm()"></p-button>
      </span>
    </div>
  </p-panel>
</div>
