<p>create-password-page works!</p>
<p-panel>
  <h1>Create a new password</h1>

  <p-divider type="solid" align="center">
    <i class="pi pi-pencil"></i>
  </p-divider>

    <span class="p-float-label">
      <input
        pInputText
        id="username"
        type="text"
        [(ngModel)]="this.username"
      />
      <label htmlFor="username">Username</label>
    </span>

    <span class="p-float-label">
      <input
        pInputText
        id="website"
        type="text"
        [(ngModel)]="this.website"
      />
      <label htmlFor="website">Website</label>
    </span>

    <span class="p-float-label">
      <input
        pInputText
        id="version"
        type="number"
        [(ngModel)]="this.version"
      />
      <label htmlFor="version">Version</label>
    </span>

    <span>
      <p-slider [(ngModel)]="this.length"></p-slider>
    </span>

  <p-divider type="solid" align="center">
    <i class="pi pi-wrench"></i>
  </p-divider>

  <p-button label = "Cancel"></p-button>
  <p-button label = "Submit"></p-button>
</p-panel>
