<div style="position: relative; width: 100vw; height: 100vh">
  <img alt="" ngSrc="/assets/welcome-page.jpg" fill>

  <p-dialog
    [modal]="true"
    [visible]="this.showQRDialog"
    [draggable]="false"
    [resizable]="false"
    [closable]="false"
    header="Scan your QR Code"
  >
    <app-qr-scanner
      [QRStartScan]="this.startQRScanningEvent"
      [uploading]="this.uploading"
      (QRUpload)="this.onQRUpload($event)"
      (QRCancel)="this.QRCancel()"
    ></app-qr-scanner>
  </p-dialog>

  <p-dialog
    header="Upload your image"
    [modal]="true"
    [visible]="this.showImgDialog"
    [draggable]="false"
    [resizable]="false"
    [closable]="false"
  >
    <app-image-uploader
      [imgFileURL]="this.imgFileURL"
      (imgSelectEvent)="this.onImgSelect($event)"
      (imgUploadEvent)="this.onImgUpload()"
      (imgCancelEvent)="this.imgCancel()"
    ></app-image-uploader>
  </p-dialog>

  <div id="welcomeFrame">
    <div id="welcomeWriting">
      <h1 [@fadeInOut] = "this.showWelcome ? 'shown' : 'hidden'">Welcome!</h1>

      <h1 [@fadeInOut] = "this.loadingShow ? 'shown' : 'hidden'">
        We are configuring your password manager. Please wait!
      </h1>

      <h1 id="imgUploadInstructions" [@fadeInOut] = "!this.imgLoaded ? 'shown' : 'hidden'">
        To start the app please upload an image or scan a QR code with your configuration.
      </h1>
    </div>

    <div [@fadeInOut] = "this.showProgressBar ? 'shown' : 'hidden'"
         class="progress"
         role="progressbar"
         aria-label="Example with label"
         aria-valuenow="25"
         aria-valuemin="0"
         aria-valuemax="100"
    >
      <div
        id="progress-bar"
        class="progress-bar progress-bar-striped progress-bar-animated"
        [style]="{width: this.progressBarLoading + '%'}">
      </div>
    </div>

    <div id="welcomeUploadOptions" [@fadeInOut] = "!this.imgLoaded ? 'shown' : 'hidden'">
      <p-button label="Upload image" icon="pi pi-image" (onClick)="this.showImgDialog = true"></p-button>

      <p-button
        label="Scan QR Code"
        icon="pi pi-qrcode"
        styleClass="p-button-help"
        (onClick)="this.QRStart()"
      >
      </p-button>
    </div>
  </div>
</div>

