<img alt="" ngSrc="/assets/welcome-page.jpg" fill>

<h1 [@fadeInOut] = "this.welcomeShow ? 'shown' : 'hidden'">Welcome!</h1>
<h1 [@fadeInOut] = "this.loadingShow ? 'shown' : 'hidden'">
  We are configuring your password manager. Please wait!

  <div [@fadeInOut] = "this.loadingShow ? 'shown' : 'hidden'"
       class="progress"
       role="progressbar"
       aria-label="Example with label"
       aria-valuenow="25"
       aria-valuemin="0"
       aria-valuemax="100">
    <div
      id="progress-bar"
      class="progress-bar progress-bar-striped progress-bar-animated"
      [style]="{width: this.loadingProgress + '%'}">
      {{loadingProgress}}%
    </div>
  </div>
</h1>
