<div style="position: relative; width: 100vw; height: 100vh">
  <img alt="" ngSrc="/assets/qr-page.jpg" fill>

  <p-card id="qr-card">
    <ng-template pTemplate="header">
      <img alt="Invalid Qr Code Path" [src]="this.qrPath"/>
    </ng-template>

    <ng-template pTemplate="content">
      <div id="QRPageButtons">
        <span>
          <p-button
            icon="pi pi-download"
            label="Download"
            (onClick)="this.downloadQR()">
          </p-button>
        </span>

        <span>
          <p-button
            label="Home"
            styleClass="p-button-help"
            icon="pi pi-home"
            iconPos="right"
            (onClick)="this.goHome()">
          </p-button>
        </span>
      </div>
    </ng-template>
  </p-card>
</div>
