<div class="container">
  <div class="d-flex">
    <div id="metadataContainer" class="container">
      <div id="website">
        <span class="pi pi-globe"></span>
        {{this.metadata.website}}
      </div>

      <p-divider></p-divider>

      <div id="metadata" class="d-flex">
        <div>
          <span class="pi pi-user"></span>
          {{this.metadata.username}}
        </div>

        <div>
          <span class="pi pi-tag"></span>
          {{this.metadata.version}}
        </div>

        <div>
          <span class="bi bi-rulers"></span>
          {{this.metadata.length}}
        </div>
      </div>
    </div>

    <ng-container *ngIf="!this.selectionEvent">
      <div  id="optionContainer" class="container">
        <p-button
          styleClass="p-button-text"
          (onClick)="this.generateEvent.emit(this.metadata)"
          pTooltip="Generate Password"
          tooltipPosition="right"
        >
          <span class="pi pi-wrench"></span>
        </p-button>

        <p-divider layout="vertical"></p-divider>

        <p-button
          styleClass="p-button-text p-button-danger"
          (onClick)="this.deleteEvent.emit(this.metadata)"
          pTooltip="Delete Password Metadata"
          tooltipPosition="right"
        >
          <span class="pi pi-trash"></span>
        </p-button>
      </div>
    </ng-container>

    <ng-container *ngIf="this.selectionEvent">
      <div  id="optionContainerSelecting" class="container">
        <p-checkbox
          [(ngModel)]="checked"
          [binary]="true"
          id="selectionCheck"
          (ngModelChange)="this.checkingEvent()"
        >
        </p-checkbox>
      </div>
    </ng-container>
  </div>
</div>
