<div style="position: relative; width: 100vw; height: 100vh">
  <img [@fadeInOut] = "this.QRSelectionState ? 'hidden' : 'shown'"  ngSrc="/assets/home-page.jpg" fill priority alt="">
  <img [@fadeInOut] = "!this.QRSelectionState ? 'hidden' : 'shown'" ngSrc="/assets/qr-home-selection.jpg" fill priority alt="">

  <div id="homeContainer">
    <app-navigation-bar
      (passButtonAction)="this.setNewPassword()"
      (qrImportAction)="this.startImportFromQR()"
      (qrExportAction)="this.exportQR()"
      (qrSelectionAction)="this.extractSelectedState($event)"
      (selectAllAction)="this.selectAllAction()"
    ></app-navigation-bar>

    <p-card>
      <ng-container *ngIf="this.noPasswordEntries">
          <div id="noEntryContainer">
            <h1>There are no password entries configured!</h1>
              <p-divider></p-divider>
              <br>
              <h3>
                You can press the "New Configuration" button or press
                <a routerLink="/newPassword">here</a>
                .
              </h3>
          </div>
      </ng-container>

      <ng-container *ngIf="!this.noPasswordEntries">
        <div id="searchBar" class="p-inputgroup">
          <button
            type="button"
            pButton icon="pi pi-search"
            (click)="this.filterPasswords()"
          ></button>
          <input
            type="text"
            pInputText
            placeholder="Search by username or website"
            [(ngModel)]="this.searchValue"
            (keyup.enter)="this.filterPasswords()"
          />
        </div>

        <div id="passwordConfigurationList">
          <div>
            <ng-container *ngFor="let metadata of this.filteredPasswords.slice(this.firstIndex, this.lastIndex); last as last">
              <div
                [hidden]="!this.QRSelectionState"
                [@fadeInOut]="this.QRSelectionState ? 'shown' : 'hidden'">
                <app-password-metadata
                  [metadata]="metadata"
                  [selectionEvent]="this.QRSelectionState"
                  [checked]="this.selectedPasswords.includes(metadata)"
                  (generateEvent)="this.confirmGeneratePassword($event)"
                  (deleteEvent)="this.confirmDeletePassword($event)"
                  (checkboxEvent)="this.setSelectedMetadata($event)"
                >
                </app-password-metadata>
              </div>

              <div
                [hidden]="this.QRSelectionState"
                [@fadeInOut]="!this.QRSelectionState ? 'shown' : 'hidden'">
                <app-password-metadata
                  [metadata]="metadata"
                  [selectionEvent]="this.QRSelectionState"
                  [checked]="this.selectedPasswords.includes(metadata)"
                  (generateEvent)="this.confirmGeneratePassword($event)"
                  (deleteEvent)="this.confirmDeletePassword($event)"
                  (checkboxEvent)="this.setSelectedMetadata($event)"
                >
                </app-password-metadata>
              </div>

              <ng-container *ngIf="!last">
                <p-divider></p-divider>
              </ng-container>
            </ng-container>
          </div>

          <p-paginator
            (onPageChange)="onPageChange($event)"
            [first]=0
            [rows]=5
            [totalRecords]="this.filteredPasswords.length">
          </p-paginator>
        </div>
      </ng-container>
    </p-card>
  </div>
</div>
<!-- Pop-up and confirmDialog HTML-->

<p-confirmDialog #dialog [style]="{width: '50vw'}">
  <ng-template pTemplate="footer">
    <ng-container *ngIf="this.showMasterPasswordDialog">
      <div id="masterPassFooter">
        <label>Master Password</label><br>
        <p-password id="masterInput" [(ngModel)]="this.master" [feedback]="false" inputId="masterInnerInput"/> <br>
        <label id="masterPassTip">Insert your master password here.</label>

        <br>
        <br>

        <p-divider></p-divider>

        <button type="button" pButton icon="pi pi-times" label="Cancel" (click)="dialog.reject()"></button>
        <button type="button" pButton icon="pi pi-wrench" label="Generate"
          (click)="this.checkMaster(dialog)"
        ></button>
      </div>
    </ng-container>

    <ng-container *ngIf="!this.showMasterPasswordDialog">
      <button type="button" pButton icon="pi pi-times" label="No" (click)="dialog.reject()"></button>
      <button type="button" pButton icon="pi pi-check" label="Yes" (click)="dialog.accept()"></button>
    </ng-container>
  </ng-template>
</p-confirmDialog>

<p-dialog
  header="Password Generation"
  [style]="{width: '30vw'}"
  [(visible)]="this.showPasswordGeneratedDialog"
  (close)="this.resetGeneratedPassword()"
  [modal]="true"
  (onHide)="this.finishPasswordGeneration()"
  >
    <ng-container *ngIf="this.generatedPassword.length === 0">
      <i id="generationSpinner" class="pi pi-spin pi-spinner"></i>
    </ng-container>

    <ng-container *ngIf="this.generatedPassword.length > 0">
      <h6>Password has been generated successfully!</h6>
      <br>
      <p-password [disabled]="true" [(ngModel)]="this.generatedPassword" inputId="generatedPasswordInput"/>

      <p-button
        icon="pi pi-copy"
        styleclass="p-button-rounded p-button-text p-button-raised"
        pTooltip="Press to copy the password"
        tooltipPosition="right"
        (onClick)="this.copyToClipboard()">
      </p-button>
    </ng-container>
</p-dialog>

<p-dialog
  [modal]="true"
  [visible]="this.showQRImportDialogue"
  [draggable]="false"
  [resizable]="false"
  [closable]="false"
  header="Scan your QR Code"
>
  <app-qr-scanner
    [QRStartScan]="this.startQRImportingEvent"
    [uploading]="this.uploadingQR"
    (QRUpload)="this.QRImport($event)"
    (QRCancel)="this.QRCancel()"
  ></app-qr-scanner>
</p-dialog>
