//$progress-bar-animation-timing: 40s linear infinite;

#qr-card .p-card .p-card-content {
  padding: 0;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

#uploadConfigContainer {
  position: relative;

  & .p-menu-overlay {
    position: relative !important;
    top: 0 !important;
    left: 0 !important;
  }
}
