<!--suppress CheckImageSize -->
<nav class="navbar fixed-top navbar-expand-lg navbar-light">
  <a class="navbar-brand" routerLink="/home">
    <img ngSrc="/assets/password_icon.png" width="40" height="40" priority alt="">
  </a>

  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav mr-auto">
      <p-button
        id="newPasswordButton"
        class="nav-item"
        label="New Password"
        styleClass="p-button-text p-button-danger"
        iconPos="left"
        [icon]= PrimeIcons.PLUS
        [@fadeInOut] = "!this.qrSelectionState ? 'shown' : 'hidden'"
        [hidden]="this.qrSelectionState"
        (onClick)="this.passButtonAction.emit()"
      >
      </p-button>

      <p-button
        id="QRMenuButton"
        class="nav-item"
        label="QR Menu"
        styleClass="p-button-text"
        iconPos="left"
        [icon] = PrimeIcons.QRCODE
        [@fadeInOut] = "!this.qrSelectionState ? 'shown' : 'hidden'"
        [hidden]="this.qrSelectionState"
        (onClick)="menu.toggle($event)"
      >
      </p-button>
      <p-menu #menu [model]="this.items" [popup]="true"></p-menu>

      <p-button
        id="backButton"
        class="nav-item"
        label="Back"
        styleClass="p-button-text"
        iconPos="left"
        [icon]= PrimeIcons.ARROW_CIRCLE_LEFT
        [@fadeInOut] = "this.qrSelectionState ? 'shown' : 'hidden'"
        [hidden]="!this.qrSelectionState"
        (onClick)="this.switchQRSelectionState()"
      >
      </p-button>

      <p-button
        id="selectAllButton"
        class="nav-item"
        label="Select All"
        styleClass="p-button-text"
        iconPos="left"
        [icon]=PrimeIcons.CHECK_SQUARE
        [@fadeInOut] = "this.qrSelectionState ? 'shown' : 'hidden'"
        [hidden]="!this.qrSelectionState"
        (onClick)="this.selectAll()"
      >
      </p-button>
    </div>

    <div class="navbar-nav mr-auto">
      <p-button
        id="helpButton"
        class="nav-item"
        label="Help"
        styleClass="p-button-help p-button-text"
        iconPos="left"
        [icon]=PrimeIcons.INFO_CIRCLE
        [hidden]="this.qrSelectionState"
        [@fadeInOut] = "!this.qrSelectionState ? 'shown' : 'hidden'"
        (onClick)="op.toggle($event)"
      >
      </p-button>

      <p-button
        id="helpButtonSelection"
        class="nav-item"
        label="Help"
        styleClass="p-button-help p-button-text"
        iconPos="left"
        [icon]=PrimeIcons.INFO_CIRCLE
        [hidden]="!this.qrSelectionState"
        [@fadeInOut] = "this.qrSelectionState ? 'shown' : 'hidden'"
        (onClick)="op.toggle($event)"
      >
      </p-button>

      <p-button
        id="exportButton"
        class="nav-item"
        label="Export"
        styleClass="p-button-danger p-button-text"
        iconPos="left"
        [icon]=PrimeIcons.EXTERNAL_LINK
        [@fadeInOut] = "this.qrSelectionState ? 'shown' : 'hidden'"
        [hidden]="!this.qrSelectionState"
        (onClick)="this.exportQR()"
      >
      </p-button>
    </div>
  </div>
</nav>

<p-overlayPanel [showCloseIcon]="true" [autoZIndex]="true" [baseZIndex]="100" #op>
  <img [hidden]="this.qrSelectionState" ngSrc="/assets/about.png" alt="product" width="850" height="335"/>
  <p [hidden]="!this.qrSelectionState">
    Here you will have to choose what password entries you want to export <br>
    using the checkboxes.One password entry has its checkbox to the right.
    <br>
    <br>
    If you have no passwords you can still export your configuration.
  </p>
</p-overlayPanel>
